body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    z-index: 1033;
    padding-top: 20px;
    color: #FFF;
}

.footer > .container {
    width: 70%;
}

.footer .col-6, .footer .col-4{
    text-align: center;
    margin: 0 auto;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    margin: 10px 0;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer-copyright {
    min-height: 50px;
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: #25292d;
}

.footer-copyright > .container {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
    margin-bottom: 3rem;
    text-align: center;
}

.title h1 {
    width: max-content;
    max-width: 98%;
    margin: auto;
    font-size: 3.5rem;
    font-family: maintitle, 'Arial', serif;
}

.title h1::after {
    background-color: black;
    width: 60%;
    margin: 5px auto;
    height: 3px;
    display: block;
    content: '';
}

.group-desc {
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.group-desc .card {
    border: #c0c2c4 solid 2px;
}

.group-separator {
    height: 75vh;
}

.group-separator-2 {
    height: 15vh;
}

.card-artist {
    max-width: 540px;
    margin: auto;
}

.card-artist img {
    width: 180px;
    height: 240px;
}

.card-artist .card-body {
    max-height: 240px;
    overflow: scroll;
}

.card-groups {
    width: 18rem;
    margin: auto;
}

.card-groups .card-body {
    height: 235px;
    overflow: scroll;
}

.card-footer {
    display: flex;
}

.card-footer a {
    margin-left: auto;
}
