{% extends 'base.html.twig' %}

{% block title %}
    Les concerts
{% endblock %}

{% block body %}

    <div class="title">
        <h1>Les concerts</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for concert in concerts %}
                <div class="col-4" style="margin: auto">
                    {{ include('concert/_card.html.twig', {concert : concert, group: concert.concertGroup}) }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}



