{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Nouveau Concert{% endblock %}

{% block body %}
    <div style="margin: 50px auto; width: max-content">
        <div class="card" style="width: 25rem;min-width: max-content">
            <div class="card-body">
                <h1 class="card-title">Créer un concert</h1>

                {{ include('concert/_form.html.twig', {'submit_label' : 'CRÉER'}) }}
            </div>
        </div>
    </div>



    <a href="{{ path('concert_list') }}">back to list</a>
{% endblock %}