{% extends 'base.html.twig' %}

{% block title %}Éditer un artiste{% endblock %}

{% block body %}

    <div style="margin: 50px auto; width: max-content">
        <div class="card" style="width: 25rem;min-width: max-content">
            <div class="card-body">
                <h1 class="card-title">Éditer un artiste</h1>

                {{ include('artist/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>
        <a href="{{ path('artist_index') }}">back to list</a>
    </div>


{% endblock %}
