{% extends 'base.html.twig' %}

{% block title %}Les Artistes{% endblock %}

{% block body %}
    <div class="title">
        <h1>Les artistes</h1>
    </div>

    <div class="container mt-3">
        <div class="card-group">

            {% for artist in artists %}
                <div class="col-6" style="margin: auto">
                    {% include('artist/_card.html.twig') %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
