{% extends 'base.html.twig' %}

{% block title %}New ConcertArtist{% endblock %}

{% block body %}
    <div style="margin: 50px auto; width: max-content">
        <div class="card" style="width: 25rem;min-width: max-content">
            <div class="card-body">
                <h1 class="card-title">Créer un artiste</h1>

                {{ include('artist/_form.html.twig') }}
            </div>
        </div>
    </div>



    <a href="{{ path('artist_index') }}">back to list</a>
{% endblock %}
