{% extends 'base.html.twig' %}

{% block body %}

    <div class="title">
        <h1>Liste des groupes</h1>
    </div>
    <div class="container">
        <div class="row">
        {% for group in groups %}
            <div class="col-4" style="margin: auto">
                {{ include('group/_card.html.twig') }}
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
