{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {% for group in groups %}
        <a class="nav-link" href="https://webinfo.iutmontp.univ-montp2.fr/~giaccagliam/concertProject/public/groups/{{ group.id }}">
        <div class="card" style="width: 250px">
            <h5 class="card-header">
                {{ group.name }}
            </h5>
            <div class="card-body">
                <div class="card-text">
                    {{ group.description }}
                </div>
            </div>
        </div>
        </a>
        {% endfor %}

    </div>

{% endblock %}
