{% extends 'base.html.twig' %}

{% block title %}Nouveau Groupe !{% endblock %}

{% block body %}
    <div style="margin: 50px auto; width: max-content">
        <div class="card" style="width: 25rem;min-width: max-content">
            <div class="card-body">
                <h1 class="card-title">Créer un groupe</h1>

                {{ include('group/_form.html.twig') }}
            </div>
        </div>
    </div>



    <a href="{{ path('group_list') }}">back to list</a>
{% endblock %}