<footer class="footer bg-dark">
    <div class="container text-white">
        <div class="row">
            <div class="col-6">
                <h1 class="text-white">Polamo</h1>
                <p class="text-white">
                    1920 rue du Décibel
                    <br>34000 Montpellier
                    <br>France
                </p>
            </div>
            <div class="col-4">
                <h1 class="text-white">Liens</h1>
                <ul>
                    <li><a href="{{ path('concert_index') }}">Les concerts</a></li>
                    <li><a href="{{ path('group_index') }}">Les groupes</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright mt-2">
        <div class="container text-white">
            © 2022 Copyright Matthieu Giaccaglia
        </div>
    </div>
</footer>