{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="title">
        <h1>Erreur 404</h1>
        <p>La page demandé n'a pas été trouvée :(</p>
        <a href="{{ path('concert_home') }}">Retourner à la page d'accueil</a>
    </div>
{% endblock %}